<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>Control Flow</string>
	<key>Pages</key>
	<array>
		<string>if1.playgroundpage</string>
		<string>if.playgroundpage</string>
		<string>while.playgroundpage</string>
		<string>for.playgroundpage</string>
	</array>
</dict>
</plist>
